:root {
  --background-color: #282828;
  --selection-color: #d3869b;
  --body-color: #ebdbb2;
  --button-color: #b16286;
}

main {
  font-family: monospace, monospace;
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

@media only screen and (max-device-width: 736px) {
  main {
    padding: 0rem;
  }
}

::selection {
  background: var(--selection-color);
}

body {
  background: var(--background-color);
  color:      var(--body-color);
}

pre {
  background-color: #3c3836;
  padding: 1em;
  border: 0;
}

a, a:active, a:visited {
  color: #b16286;
  background-color: #1d2021;
}

h1, h2, h3, h4, h5 {
  margin-bottom: .1rem;
}

blockquote {
  border-left: 1px solid #bdae93;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
}

footer {
  align: center;
}
