#title {
    text-align: center;
}

#main {
    text-align: center;
}

#songDuration {
    width: 80%;
}

input[type="file"] {
    display: none;
}

.fileInputLabel {
    border-radius: 100px;
    padding: 0.3em;
    margin: 0.2em;
    background-color: var(--button-color);
    cursor: pointer;
}

.button-icon {
    width: 50px;
    height: 50px;
}
